* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", "Press Start 2P Fallback";
  font-size: 1.6rem;
  line-height: 1.4;
  color: #2c003e;
  background-image: linear-gradient(
    90deg,
    rgb(207, 177, 236),
    rgb(206, 150, 216)
  );
}

nav {
  display: flex;
  position: sticky;
  justify-content: center;
  margin: 0;
  top: 0;
  width: 100%;
  background-color: rgba(157, 124, 191);
  padding: 1.5rem;
  text-align: center;
  z-index: 999;
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

p,
li {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: justify;
}

li::marker {
  color: #e84393;
  font-size: large;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 0.4rem;
  border: solid 0.2rem #2c003e;
}

.gradiente {
  background-image: linear-gradient(110deg, #8a2be2, #e84393);
  padding: 0.8rem;
}

.background-branco {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3.5rem;
  backdrop-filter: blur(4px);
}

#hamburg {
  display: none;
}
.hamburgclick {
  display: none;
}

.hamburgclick.active {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 100%;
  background-color: #7e41b3;
  text-align: center;
  z-index: 999;
}

#text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text a {
  padding: 1.5rem;
  border-radius: 1.5rem;
  margin: 0 3rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

#text.active {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}

#text a:hover {
  color: #7a5c99;
  background-color: rgba(157, 124, 191, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1200px) {
  #hamburg {
    display: block;
  }

  #text {
    display: none;
  }
  .hamburgclick {
    display: block;
  }
}

#ImagemProgramada {
  width: 100%;
}

.link-meninasdigitais:link,
.link-meninasdigitais:visited {
  color: #8a2be2;
  font-size: 1.2rem;
}

footer {
  justify-content: center;
  margin: 0;
  top: 0;
  width: 100%;
  background-color: #7e41b3;
  padding: 1rem;
  text-align: center;
}

.icone-footer {
  width: 3.6rem;
  height: 3.6rem;
}
